[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = git://github.com/omeka/plugin-ExhibitBuilder
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = git://github.com/omeka/plugin-SimplePages
[submodule "themes/default"]
	path = themes/default
	url = git://github.com/omeka/theme-thanksroy
[submodule "themes/minimalist"]
	path = themes/minimalist
	url = git://github.com/omeka/theme-minimalist
[submodule "themes/rhythm"]
	path = themes/rhythm
	url = git://github.com/omeka/theme-rhythm
[submodule "themes/seasons"]
	path = themes/seasons
	url = git://github.com/omeka/theme-seasons
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = git://github.com/omeka/plugin-Coins
[submodule "plugins/Annotations"]
	path = plugins/Annotations
	url = git@github.com:literati/Annotations.git
[submodule "plugins/TeiDisplay"]
	path = plugins/TeiDisplay
	url = git@github.com:literati/TeiDisplay.git
[submodule "plugins/TeiInteract"]
	path = plugins/TeiInteract
	url = git@github.com:literati/TEI_Interact.git
[submodule "themes/omeka-foundation"]
	path = themes/omeka-foundation
	url = git@github.com:literati/omeka-foundation.git
[submodule "themes/omeka-foundation-v2"]
	path = themes/omeka-foundation-v2
	url = git@github.com:literati/omeka-foundation-v2.git
[submodule "plugins/ItemRelations"]
	path = plugins/ItemRelations
	url = git@github.com:literati/plugin-ItemRelations.git
